body {
    background-image: url("https://i.ibb.co/0ML6P69/Cover-bez-texta.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
  height: 100vh; 
  margin: 0;  /* Remove default body margin */
  }
  
  h1 { color: #ffffff; font-family: "Comic Sans MS", cursive; font-size: 38px; 
    font-weight:500; margin-bottom: 10px;
    text-align: center; text-shadow: 0 3px 3px rgba(148, 18, 76, 0.573); }

    h2 { color: white;
      text-align: center;
      font-family: cursive;}
  
    h3{
      color: white;
      text-align: center;
      font-family: cursive;
    }