body {
    background-image: url("https://img.freepik.com/free-vector/blurred-valentine-s-day-wallpaper_23-2148819570.jpg?w=996&t=st=1700507995~exp=1700508595~hmac=e5da6a164fd969d8cc833afc15e141c5cf6d6abf5cb593e6f5deba61e55f799f");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
  height: 100vh; 
  margin: 0;  /* Remove default body margin */
  }
  
  h1 { color: #ffffff; font-family: "Great Vibes", cursive; font-size: 38px; 
    font-weight:500; margin-bottom: 10px;
    text-align: center; text-shadow: 0 3px 3px rgba(148, 18, 76, 0.573); }

    h2 { color: #000000; font-family:Georgia, 'Times New Roman', Times, serifs, sans-serif; font-size: 38px; 
      font-weight:500; margin-bottom: 10px;
      text-align: center; text-shadow: 0 3px 3px rgba(255, 0, 0, 0.573); }
  
    h3{
      color: white;
      text-align: center;
      font-family: cursive;
    }