<h1>Igra „Kome treba <br> povećati satnicu”</h1>
<h3>{{player}}</h3>

<button (click)="newGame()">
    Ponovo pokreni
</button>

<!-- <h2 *ngIf="winner">
    Veću satnicu zaslužuje <br> {{winner}}!!! (logično XD)
</h2> -->

<h2 *ngIf="winner === 'AMINA'">
    Veću satnicu zaslužuje <br> {{ winner }}!!! (logično XD)
</h2>
<h2 *ngIf="winner === 'MIRZET'">
    NAMJEŠTALJKA!!!!
</h2>

<main>
    <app-square
    *ngFor="let val of squares; let i=index"
    [value]="val"
    (click)="makeMove(i)">
    
    </app-square>
</main>